body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.page {
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: 0 auto;
}

.page a:focus {
  outline: none;
}

.navigation {
  display: flex;
  height: 80px;
  width: 1600px;
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: #2196f3;
  outline: none;
}

.navigation ul {
  display: flex;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: 0px;
}

.banner h1 {
  background-color: #2f303a;
  color: #fff;
  justify-content: center;
  width: 696px;
  height: 120px;
  font-weight: 900;

  margin: 80px 0px 30px 0px;
  padding: 200px 452px 280px 452px;
}

.banner button {
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;

  border-radius: 4px;
  cursor: pointer;
}

.banner-list {
  display: flex;
}

.our-job {
  background-color: rgba(255, 255, 255, 1);
}

.our-job ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 215px 0px 215px;
}

.team {
  background-color: #f5f4fa;
}

.team ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 215px 0px 215px;
}

.address-bottom {
  background-color: #2f303a;
  color: #fff;
  width: 1600px;
  height: 252px;
}

.our-job h2,
.team h2 {
  color: #212121;
  margin: 80px 0px 30px 0px;
  padding: 94px 695px 0px 695px;
}

.products ul {
  display: flex;
}
.navigation a {
  text-decoration: none;
  color: #212121;
}
.address-bottom a {
  color: #fff;
  text-decoration: none;
}
.page a:visited {
  color: none;
}

.button-list input:hover {
  cursor: pointer;
  background-color: #2196f3;
  color: white;
}

.button-list input:focus {
  background-color: #2196f3;
  color: white;
}

.address-link-phone-mail a {
  color: rgba(255, 255, 255, 0.6);
}

.address-link-phone-mail a:focus,
.address-link-phone-mail a:hover {
  color: #2196f3;
}

.link-phone-mail a:focus,
.link-phone-mail a:hover {
  color: #2196f3;
}

.button-list {
  display: flex;
  height: 50px;
  width: 200px;
}
.button-list :focus {
  background-color: #2196f3;
  color: white;
  outline: none;
}
.order-button {
  background-color: #2196f3;
  color: white;
  width: 200px;
  height: 50px;
  margin: 350px 700px 200px 700px;
  border: 0px;
  border-radius: 4px;
}

.logo span {
  color: #2196f3;
}
.logo {
  margin: 60px 93px 161px 215px;
  font-family: 'Raleway', sans-serif;
}
