body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  color: #212121;
}

.page {
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: 0 auto;
}

.page a:focus {
  outline: none;
}

.contacts {
  display: flex;
  height: 80px;
  width: 1600px;
}

.contacts a:focus {
  color: #2196f3;
  outline: none;
}

.contacts ul {
  display: flex;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: 0px;
}

.banner h1 {
  background-color: #2f303a;
  color: #fff;
  justify-content: center;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  size: 44px;
  font-weight: 900;
  line-height: 60px;
  margin: 80px 0px 30px 0px;
  padding: 200px 452px 280px 452px;
}

.banner button {
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  cursor: pointer;
}

.banner-list {
  display: flex;
}

.our-job {
  background-color: rgba(255, 255, 255, 1);
}

.our-job ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 215px 0px 215px;
}

.team {
  background-color: #f5f4fa;
}

.team ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 215px 0px 215px;
}

.access {
  background-color: #2f303a;
  color: #fff;
  width: 1600px;
  height: 252px;
}

.our-job h2 {
  color: #212121;
  margin: 80px 0px 30px 0px;
  padding: 94px 695px 0px 695px;
}

.product ul {
  display: flex;
}
.contacts a {
  text-decoration: none;
  color: #212121;
}
.access a {
  color: #fff;
  text-decoration: none;
}
.page a:visited {
  color: none;
}

.button-list input {
  cursor: pointer;
}

.button-list input:focus {
  background-color: #2196f3;
  color: white;
  outline: none;
}

.link-phone-mail a {
  color: rgba(255, 255, 255, 0.6);
}
.button-list {
  display: flex;
  height: 50px;
  width: 200px;
}
.butoon-list :focus {
  background-color: #2196f3;
  color: white;
  outline: none;
}
.order-button {
  background-color: #2196f3;
  color: white;
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  margin: 350px 700px 200px 700px;
  border: 0px;
  border-radius: 4px;
}

.logo span {
  color: #2196f3;
}
.logo {
  margin: 60px 93px 161px 215px;
}
